@import "src/globals/hack-variables.scss";

.global-header {
	height: 750px;

	display: flex;
	flex-direction: row;
	gap: 100px;
	align-items: center;
	justify-content: center;
}

.header-items {
	h1 {
		font-size: 6em !important;
		margin-bottom: 45px;
	}
}

.logo-wrapper {
	position: relative;

	width: 350px;
	height: 350px;

	.logo-white {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); // Perfect center
	}
	.logo-shadow-blue {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-53%, -52%); // Perfect center

		mix-blend-mode: hard-light;
	}

	.logo-shadow-green {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-48.5%, -51%); // Perfect center

		mix-blend-mode: overlay;
	}
}
