@import "globals/hack-variables.scss";
@import 'src/globals/hack-styles.scss';

body {
  background: $blue-gradient;
  background-repeat: repeat-y;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $background-dark-blue;
  color: $secondary-color;
  font-family: $primary-font;
  overflow: hidden;

  h1 {
    font-size: 4.5rem;
    font-weight: 700;
  }
  h2 {
    font-size: 3rem;
    font-weight: 500;
  }
  h3 {
    font-size: 2.25rem;
  }
}

// Applied to background if "/" route is selected
.home-background {
  background-image: linear-gradient(
    to bottom,
    $background-dark-blue 0px,
    $background-blue 450px,
    $background-dark-blue 900px
  );
}

// Applied to background if "/about" route is selected
.about-background {
  background-image: linear-gradient(
    to bottom,
    $background-dark-blue 0px,
    $background-darker-blue 900px,
    $background-dark-blue 901px
  );
}

.bg-gray {
  background-color: $light-grey;
}

.container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

@media (min-width: 576px) {
  .container {
    padding-bottom: 11.25rem;
    padding-top: 11.25rem;
  }
}
