@import 'src/globals/hack-variables.scss';

html {
  scroll-behavior: smooth;
}

.involved-button {
  border-color: transparent;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 25px;
  background-color: $red;
  color: white;
  max-width: 10em;
  position: relative;
  z-index: 10;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.home-container {
  width: 80vw;
  margin: auto;
  text-align: center;
  padding: 11.25rem 0;
}

.gray-background {
  background: #f4f5f8;
}

.home-container p {
  font-size: 26px;
  margin: 0;
  text-align: center;
  padding-top: 15px;
}

.home-container a {
  font-size: 26px;
  margin: 0;
  color: $darkest-blue !important;
  text-align: center;
  padding-top: 15px;
}

.card-body {
  margin: 0 !important;
  padding: 0;
  color: white;
  background-color: $darkest-blue;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-title {
  padding: 20px 20px 0 20px;
  font-size: 28px;
  margin: 0;
}

.card-text {
  font-size: 20px;
  padding: 0 20px 55px 20px;
}

.card-deck {
  display: inline-block;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.card-container {
  max-width: 1450px !important;
}

.card-container {
  padding-top: 30px;
}

// Bootstrap 4 breakpoints & gutter
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
  xs: 1,
  sm: 2,
  md: 2,
  lg: 4,
  xl: 4,
);
