@import "src/globals/hack-variables.scss";
@import "src/globals/hack-styles.scss";

html {
  scroll-behavior: smooth;
}

.home-header-ants img:nth-child(1),
.home-header-ants img:nth-child(2),
.home-header-ants img:nth-child(3),
.home-header-ants img:nth-child(4) {
  position: absolute;
  z-index: 1;
}

.home-header-ants img:nth-child(1) {
  top: 268px;
  left: 120px;
  transform: rotate(315deg) scale(0.3);
}

.home-header-ants img:nth-child(2) {
  top: 250px;
  left: 60px;
  transform: rotate(275deg) scale(0.3);
}

.home-header-ants img:nth-child(3) {
  top: 238px;
  left: 0px;
  transform: rotate(290deg) scale(0.3);
}

.home-header-ants img:nth-child(4) {
  top: 203px;
  left: -45px;
  transform: rotate(320deg) scale(0.3);
}

.home-header-usb {
  transform: scale(0.65);
  position: absolute;
  left: -400px;
  top: -165px;
}

.home-header-cord {
  position: absolute;
  left: 280px;
  top: 200px;
  transform: scale(0.75) rotateX(180deg) rotate(15deg);
}

.home-header-font {
  font-family: sans-serif;
  font-size: 7rem;
  margin: 0.1em 0;
  position: relative;
  z-index: 10;
}

.home-involved-button-div {
  text-align: center;
}

.involved-button {
  border-color: transparent;
  border-radius: 30px;
  font-size: 28px;
  padding: 10px 25px;
  background-color: $red;
  color: white;
  max-width: 10em;
  position: relative;
  z-index: 10;
}

.involved-button a {
  color: white;
}

.home-arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-top: 10px solid $red;
}

.home-container h1 {
  font-size: 42px;
  padding: 10rem 0 0 0;
}

.home-container p {
  font-size: 26px;
  margin: 0;
}

.home-container a {
  font-size: 26px;
  margin: 0;
  color: $red !important;
}

.card-body {
  margin: 0 !important;
  padding: 0;
  color: white;
  background-color: $darkest-blue;
}

.card {
  box-shadow: 0 3px 8px #aaaaaa;
}

.card-title {
  padding: 20px 20px 0 20px;
  font-size: 28px;
  margin: 0;
}

.card-text {
  font-size: 20px;
  padding: 0 20px 55px 20px;
}

.card-deck {
  display: inline-block;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.home-sponsors {
  margin-bottom: 180px;
}

.card-container {
  max-width: 1450px !important;
}

.card-container {
  padding-top: 60px;
}

@media screen and (max-width: 1200px) {
  .home-header-usb {
    display: none;
  }
  .home-header-ants {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .home-header-font {
    font-family: sans-serif;
    font-size: 3rem;
    margin: 0.1em 0;
  }

  .home-newsletter-container {
    display: block;
    font-size: 23px;
  }
}

// Bootstrap 4 breakpoints & gutter
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
  xs: 1,
  sm: 2,
  md: 2,
  lg: 4,
  xl: 4,
);


