@import "src/globals/hack-variables.scss";

.Home .container p,
.Home .container h1,
.Home .container a {
  text-align: left;
}

.Home .container a {
  color: $ember-red;
}

.home-header {
  background-color: $ember-blue;
  color: white;
}

.home-header-font {
  font-size: 60px;
  margin: 0.2em 0;
}

.involved-button {
  border-color: transparent;
  border-radius: 26px;
  font-size: 18px;
  background-color: $ember-red;
}

.involved-button:hover {
  background-color: $ember-maroon;
}