@import "src/globals/hack-variables.scss";

html {
	scroll-behavior: smooth;
}

.home-content {
	p {
		font-size: 26px;
	}
}

.home-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
