@import "src/globals/hack-variables.scss";

.Sponsorship {
  font-family: sans-serif;
}

.sponsor-header-container {
  position: relative;
  top: 30px;
  max-width: 1450px;
}

.sponsor-header-font {
  font-size: 33px;
}

.sponsor-content-heading {
  text-align: left;
  margin-top: 80px;
  font-size: 70px;
  color: $black;
}

.sponsor-hackuci {
  margin: 40px 0 40px 0;
}

.sponsor-hackuci img {
  width: 230px;
}

.sponsor-hackuci a {
  position: relative;
}

.sponsor-hack-graph {
  padding-top: 30px;
}

.sponsor-stat-img {
  width: 60%;
  margin: 20px;
}

.sponsor-stats {
  display: inline-block;
  margin: 100px 0;
}

.sponsor-stat {
  display: inline-block;
  margin: 10px 50px;
}

.sponsor-stat p {
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

.sponsor-stat label {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.sponsor-hackuci p {
  margin: 0;
}

.sponsor-stat-hack-number {
  padding-top: 110px;
  padding-left: 10px;
  text-align: center;
  font-size: 120px;
}

.sponsor-stat-hack-label {
  padding-top: 230px;
  text-align: center;
  font-size: 60px;
}

.sponsor-content-anecdote p {
  margin: 0;
}

.sponsor-content-anecdote {
  grid-column: 3;
  border-radius: 10px;
  padding: 35px 35px 20px 35px;
  background-color: $light-grey;
  margin-bottom: 30px;
  text-align: left;
  font-size: 20px;
}

#Bianca {
  min-height: 230px;
  grid-row: 3;
}

#Lizzie {
  min-height: 190px;
}

#Cher {
  min-height: 200px;
  grid-row: 7;
}

.sponsor-previous {
  margin-top: 150px;
  font-size: 36px;
}

.sponsor-stat-graph {
  // grid-column: 2;
}

.sponsor-list {
  margin-bottom: 160px;
}

.sponsor-list img {
  max-height: 120px;
  max-width: 300px;
  margin: 20px;
}

.sponsor-list-item {
  display: inline-block;
  height: 120px;
  width: 300px;
  margin: 20px;
}

//commit update
@media screen and (max-width: 1200px) {
  .sponsor-content {
    display: block;
  }
  .sponsor-content-heading {
    font-size: 65px;
  }
  .sponsor-content-anecdote {
    font-size: 20px;
  }
  .sponsor-content-anecdote {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .sponsor-hackuci img {
    padding-top: 10px;
    width: 200px;
  }
  .sponsor-header-font {
    font-size: 24px;
  }
  .sponsor-content-heading {
    font-size: 24px;
  }
  .sponsor-content {
    display: block;
  }
  .sponsor-content-heading {
    text-align: center;
    font-size: 42px;
    margin: 150px 20px 0 20px;
  }
  .sponsor-hackuci a {
    margin: 0 20px;
  }
  .sponsor-stat {
    margin: 5px 12px;
  }
  .sponsor-stat p {
    font-size: 40px;
  }
  .sponsor-stat label {
    font-size: 16px;
  }
  .sponsor-content-anecdote {
    font-size: 15px;
  }
}
