@import "src/globals/hack-variables.scss";

.footer img {
  width: 40px;
  margin: 20px 25px;
  filter: brightness(100);
}

.footer {
  width: 100%;
  height: 80px;
  background: linear-gradient(90deg, #1C3385 0%, #118AFB 100%);
  color: white;
  justify-content: center;
  justify-items: center;
  align-items: center;
}