@import "globals/hack-variables.scss";

.events {
    display:inline-block;
    max-width: 1400px;
}

.title-events {
    margin-top: 15px;
    font-size: 45px;
}

.no-events {
    margin-top: 30px;
    margin-bottom: 80px;
}