@import "src/globals/hack-variables.scss";

.nav-color {
  background-color: $darkest-blue!important;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.nav-logo {
  max-width: 85px;
  padding: 0 5px;
}