@import "src/globals/hack-variables.scss";

.ml-auto {
  margin-right: 30px;
}

.nav-color {
  background-color: $darkest-blue !important;
  height: 80px;
}

.nav-color:not(.collapsing):not(.show) {
  height: auto !important;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  font-size: 20px;

  &.selected {
    color: $ember-orange;
    border-bottom: 2px solid $ember-orange;
    &:hover {
      color: $ember-orange;
    }
  }
}

.nav-link a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-logo {
  max-width: 85px;
  padding: 0 5px;
}
