@import "src/globals/hack-styles.scss";

.newsletter {
  background-color: #f3f3f3;
  margin: 0;
}

.newsletter-container {
  display: grid;
  grid-template-columns: 50% 5% 45%;
  font-size: 23px;
  width: 80%;
  margin: auto;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.newsletter-left {
  grid-column: 1;
}

.newsletter-container form {
  grid-column: 3;
  grid-row: 2;
}

.newsletter-container h1 {
  margin: 0;
}

.newsletter-mailchimp-info {
  font-size: 22px;
  color: #a9a9a9;
  max-width: 460px;
}

.newsletter-info {
  font-size: 25px;
}

.newsletter-form label {
  margin: 0;
}

.newsletter-form .form-control {
  width: 100%;
  font-size: 24px;
}

.newsletter-button {
  border-color: transparent;
  border-radius: 30px;
  font-size: 28px;
  padding: 10px 25px;
  background-color: $red;
  color: white;
  max-width: 10em;
  position: relative;
  z-index: 10;
  margin-left: 10px;
}

.discord-button {
  border-color: transparent;
  border-radius: 30px;
  font-size: 28px;
  padding: 10px 25px;
  background-color: #7289da;
  color: white;
  max-width: 10em;
  position: relative;
  z-index: 10;
}

.newsletter-button a {
  color: white;
}

.discord-button a {
  color: white;
}

@media screen and (max-width: 760px) {
  .newsletter-container {
    display: block;
    font-size: 23px;
  }
  .discord-button {
    font-size: 25px;
  }
  .newsletter-button {
    font-size: 25px;
  }
}
