@import "src/globals/hack-variables.scss";

.Contact a {
  color: #233B92;
  &:hover {
    color: #233B92
  }
}

.contact-body #sm-title {
  font-size: 44px;
  margin: 10rem 0 5rem 0;
}

.contact-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-icon a {
  font-size: 28px;
}

.contact-icon img{
  height: 6rem;
  width: 6rem;
}

.contact-icon {
  margin-bottom: 15rem;
}

@media screen and (max-width: 760px) {
  .contact-body #sm-title {
    font-size: 28px;
    margin: 5rem 0 2rem 0;
  }

  .contact-icon {
    margin-bottom: 8rem;
  }

  .contact-icons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}