@import "globals/hack-variables.scss";

.eventcard {
  width: 400px;
  height: 400px;
  background-color: $darkest-blue;
  color: white;
  display: inline-block;
  transition: 0.3s;
}

.past-eventcard {
  width: 400px;
  height: 400px;
  background-color: $darkest-blue;
  color: white;
  display: inline-block;
  transition: 0.3s;
}

.eventcard:hover {
  background-color: $red;
}

.parent-wrapper-event-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 5fr;
  width: 400px;
  height: 400px;
}

.top-part-event-card-img {
  width: 400px;
  height: 233px;
  border-radius: 5px;
}

.top-text-event-card {
  padding-top: 8px;
  text-align: left;
  padding-left: 18px;
}

.bottom-text-event-card {
  padding-top: 8px;
  text-align: left;
  padding-left: 18px;
  float: bottom;
}

.popup-button-event-card {
  background-color: #ff6969;
  border-radius: 30px;
  border: 1px solid #ff6969;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;

  h4 {
    font-size: 18px;
  }
}

.popup-button-event-card:hover {
  background-color: #e85454;
}

.popup-button-event-card-link {
  color: white;
}

.popup-button-event-card-link:hover {
  color: white;
}

.header-line-event-card {
  max-width: 70%;
  display: inline;
}

.popup-title-event-card {
  font-size: 2.5rem;
  font-weight: bold;
}

.modal-styling-event-card {
  left: auto;
  right: auto;
  background-color: #233b92;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 0px;
  margin-top: 10vh;
  height: 80vh;
  position: relative;
  z-index: 20;


  ::-webkit-scrollbar {
    width: 18px;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
}
.desc-text-event-card {
  font-size: 1.75rem;
  text-align: left;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.desc-text-wrapper-event-card {
  margin-top: 25px;
  overflow: auto;
  height: 40vh;
  padding: 15px;
  margin-bottom: 20px;

  p {
    font-size: 22px;
  }
}

.modal-subtext-date {
  font-size: 22px;
}

.modal-top-part {
  box-shadow: 0px 1px 6px 0px #222;
  padding-top: 20px;
  width: 100%;
  position: relative;
  z-index: 20;


  .close-button-event-card {
    border: 0px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    position: absolute;
    right: 1vh;
    top: -2px;
  }
}

@media (orientation: portrait) {
  .popup-title-event-card {
    font-size: 2rem;
  }

  .desc-text-event-card {
    text-align: left;
    overflow: auto;
  }

  .modal-styling-event-card {
    left: auto;
    right: auto;
    background-color: #233b92;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0px;
    margin-top: 10vh;
    height: 80vh;
    margin-bottom: 5vh;
  }

  .eventcard {
    border-radius: 5px;
    box-shadow: 5px 5px 8px #272727;
    width: 300px;
    height: 300px;
    background-color: $darkest-blue;
    color: white;
    display: inline-block;
    transition: 0.3s;
  }

  .past-eventcard {
    width: 300px;
    height: 300px;
    background-color: $darkest-blue;
    color: white;
    display: inline-block;
    transition: 0.3s;
  }

  .parent-wrapper-event-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 5fr;
    width: 300px;
    height: 300px;
  }
  .top-part-event-card-img {
    width: 300px;
    height: 175px;
    border-radius: 5px;
  }

  .top-text-event-card {
    padding-top: 6px;
    text-align: left;
    padding-left: 15px;
    font-size: 22px;
  }

  .bottom-text-event-card {
    padding-top: 6px;
    text-align: left;
    padding-left: 15px;
    float: bottom;
    font-size: 18px;
  }
}
