.modal-style {
    top: '50%';
    left: '50%';
    right: '50%';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)';
    background-color: '#233b92';
    color: 'white';
    border-radius: '10px',
  }

