@import "globals/hack-variables.scss";

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $white;
  color: black;
  font-family: $hackUCIFont;
  overflow-y: auto;

  h3 {
    font-size: 40px;
  }
}
