@import "src/globals/hack-variables.scss";

.primary-button {
	border-color: transparent;
	border-radius: 30px;
	font-size: 24px;
	font-weight: 600;
	background: linear-gradient(
		90deg,
		rgba(109, 146, 218, 1) 0%,
		rgba(113, 221, 156, 1) 100%
	);
	background-size: 200% 100%;
	background-position: 0% 50%;
	color: $secondary-color;
	max-width: 10em;
	padding: 10px 25px;
	position: relative;
	z-index: 10;
	transition: background-position 0.35s ease-out;

	&:hover {
		color: $secondary-color;
		text-decoration: none;
		background-position: 100% 50%;
	}
}
